# Flutter/Dart specific
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
ios/Flutter/.last_build_id
.vscode/
.android/
.iml
.idea/
.gradle/
/build.gradle
/captures/
*/*.iml
*.log

# Android specific
**/local.properties
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/assetWizardSettings.xml
**/.idea/libraries
**/.idea/modules.xml
**/.idea/runConfigurations.xml
**/android/captures/

# iOS specific
**/Pods/
**/*.xcworkspace/
**/*.xcuserstate
**/*.pbxuser
!ios/Pods/Manifest.lock
ios/Pods/*/**.hmap
ios/Pods/**/Headers/**/*
ios/Pods/**/Modules/**/*

